<h2 class="text-center" style="color: rgb(137, 195, 223);">Lista de Artistas</h2>
<table class="table table-striped table-bordered border-primary">
    <thead class="thead bg-primary text-white">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Popularidad</th>
            <th scope="col">Modificar artista</th>
            <th scope="col">Borrar</th>

        </tr>

    </thead>
<tbody>
    <tr *ngFor="let artist of artistList">
        <td>{{artist.id}}</td>
        <td>{{artist.nameArtist}}</td>
        <td>{{artist.age}}</td>
        <td>{{artist.popularity}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="view(ver,artist)">Ver</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="delete(artist.id)">Borrar</button></td>

    </tr>
</tbody>
</table>
<!--
<h2>Agregar Artista:</h2>
<form [formGroup]="artistForm">
    <tfoot>
        <tr>
            <td>
                <input formControlName="id" placeholder="ID">
                <p *ngIf="id.touched && id.errors && id.errors['required']">Obligatorio</p>
            </td>
            <td>
                <input formControlName="nameArtist" placeholder="NAME">
                <p *ngIf="nameArtist.touched && nameArtist.errors && nameArtist.errors['required']">Obligatorio</p>
            </td>
            <td>
                <input formControlName="age" placeholder="AGE">
                <p *ngIf="age.touched && age.errors && age.errors['required']">Obligatorio</p>
            </td>
            <td>
                <input formControlName="popularity" placeholder="POPULARIDAD">
                <p *ngIf="popularity.touched && popularity.errors && popularity.errors['required']">Obligatorio</p>
            </td>
            <td>
                <button (click)='add()'>ADD</button>
            </td>
        </tr>

    </tfoot>

</form>
-->

<ng-template #ver let-modal>
    <div class="modal-header">
        <h5 class="modal-title" style="">Modificar Artista</h5>
        <button (click)="modal.dismiss()">X</button>

    </div>
    <div class="modal-body">
        <label>Id: </label>
        <input class= "form-control" [(ngModel)]="inputIDV" readonly>
        <label>Nombre Artista: </label>
        <input class="form-control" [(ngModel)]="inputNameV">
        <label>Edad: </label>
        <input class="form-control" [(ngModel)] ="inputEdadV">
        <label>Popularidad: </label>
        <input class="form-control" [(ngModel)] = "inputPopulV">


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()"> Guardar</button>
    </div>
</ng-template>

<br>

<div class="card" style="background-color: rgb(162, 196, 224); padding: 20px; border-radius: 12px; margin: 20px;">
    <h2 style="color: aliceblue;">Agregar Artista:</h2>
    <br>
    <form [formGroup]="artistForm">
        <tfoot>
            <tr>
                <td>
                    <input formControlName="id" placeholder="ID">
                    <p *ngIf="id.touched && id.errors && id.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="nameArtist" placeholder="NAME">
                    <p *ngIf="nameArtist.touched && nameArtist.errors && nameArtist.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="age" placeholder="AGE">
                    <p *ngIf="age.touched && age.errors && age.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="popularity" placeholder="POPULARIDAD">
                    <p *ngIf="popularity.touched && popularity.errors && popularity.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <button type="button" style="margin-left: 5px;" class="btn btn-light" (click)='add()'>Agregar</button>
                </td>
            </tr>

        </tfoot>

    </form>
</div>

