<br>
<!--LISTA DE ALBUMS-->
<h2 class="text-center text-uppercase" style="color: rgb(188, 137, 236); font-weight: bold;">Lista de Albums</h2>
<table class="table">
    <thead class="bg-dark thead-dark" style=" color: rgb(188, 150, 224);">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Total de tracks</th>
            <th scope="col">Año de lanzamiento</th>
            <th scope="col">Popularidad</th>
            <th scope="col">Géneros</th>
            <th scope="col">Artista</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>



        </tr>

    </thead>
<tbody>
    <tr *ngFor="let album of albumList">
        <td>{{album.id}}</td>
        <td>{{album.albumName}}</td>
        <td>{{album.totalTracks}}</td>
        <td>{{album.releaseYear}}</td>
        <td>{{album.popularity}}</td>
        <td>{{album.genres}}</td>
        <td>{{album.artist.nameArtist}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="view(ver,album)">Ver</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="delete(album.id)">X</button></td>
        

    </tr>
</tbody>
</table>

<br>

<!--MODAL-->
<ng-template #ver let-modal>
    <div class="modal-header" style="background-color:  rgb(188, 150, 224);">
        <h5 class="modal-title" style="color: rgb(91, 58, 122);">Modificar Album</h5>
        <button (click)="modal.dismiss()">X</button>

    </div>
    <div class="modal-body">
        <label>Id: </label>
        <input class= "form-control" [(ngModel)]="InputIDV" readonly> <br>
        <label>Nombre Album: </label>
        <input class="form-control" [(ngModel)]="InputAlbumNameV"> <br>
        <label>Total de Tracks: </label>
        <input class="form-control" [(ngModel)] ="InputTotalTracksV"> <br>
        <label>Año de lanzamiento: </label>
        <input class="form-control" [(ngModel)] = "InputReleaseYearV"> <br>
        <label>Popularidad: </label>
        <input class="form-control" [(ngModel)] = "InputPopularityV"> <br>
        <label>Género: </label>
        <input class="form-control" [(ngModel)] = "InputGenres"> <br>
        <label>Artista:</label>
        <br>
        <select [(ngModel)]="InputArtistV">
            <option *ngFor="let artist of artistList" [ngValue]="artist">{{artist.nameArtist}}</option>
        </select>


    </div>
    <div class="modal-footer" style="background-color:  rgb(188, 150, 224);">
        <button class="btn btn-light" (click)="modal.close()" style="align-items: center; margin-right: 43%;"> Guardar</button>
    </div>
</ng-template>

<!--Agregar Album-->
<div class="card m-4" style="background-color:  rgb(188, 150, 224); padding: 20px; border-radius: 12px;">
    <h3 style="color: rgb(91, 58, 122);">Agregar Album:</h3>
    <br>
    <form [formGroup]="albumForm">
        <tfoot>
            <tr>
                <td>
                    <input formControlName="id" placeholder="ID">
                    <p *ngIf="id.touched && id.errors && id.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="albumName" placeholder="NAME">
                    <p *ngIf="albumName.touched && albumName.errors && albumName.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="totalTracks" placeholder="TOTAL TRACKS">
                    <p *ngIf="totalTracks.touched && totalTracks.errors && totalTracks.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="releaseYear" placeholder="RELEASE YEAR">
                    <p *ngIf="releaseYear.touched && releaseYear.errors && releaseYear.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="popularity" placeholder="POPULARITY">
                    <p *ngIf="popularity.touched && popularity && popularity.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <input formControlName="genres" placeholder="GENRES">
                    <p *ngIf="genres.touched && genres && genres.errors['required']">Obligatorio</p>
                </td>
                <td>
                    <select name="artist" formControlName="artist">
                        <option *ngFor="let artist of artistList" [ngValue]="artist">{{artist.nameArtist}}</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td><p>ID</p></td>
                <td><p>Nombre</p></td>
                <td><p>Total Canciones</p></td>
                <td><p>Año de lanzamiento</p></td>
                <td><p>Popularidad</p></td>
                <td><p>Género</p></td>
                <td><p>Artista</p></td>
            </tr>
            <br>
            <tr>
                
                <td>
                    <button type="button" style="margin-left: 300%;" class="btn btn-light" (click)='add()'>Agregar</button>
                </td>
            </tr>

        </tfoot>

    </form>
</div>

